<!-- http://127.0.0.1:5500/index.html -->

<!DOCTYPE html>
<html>
<!-- phần đầu -->
<head>

    <!-- title để định nghĩ phần tiêu đề. Ví dụ sau đây là tên của tap có tên là F8 - shop -->
    <title>List Warehouses</title>

    <!--
    <meta charset="utf-8">
    meta này để giúp hiển thị tiếng việt ở trang web
    -->


</head>


<!-- phần thân -->
<body>
<h1>
    Hello word!!
</h1>

<p>
    jncskjcnkjsdndckjsvnkjsfvnkjdfnvkdnvkndjkfvndkfjvnkdjfnvjkdfnvkdjnvkdjnvkjdnvkjdnvdfkvnkdfjnfvk
</p>

<h2>
    Hello Pham Van Nhan!!
</h2>

<h3>
    Hello Van!!
</h3>

</body>
</html>